<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>TwitterSearch</servlet-name>
        <servlet-class>org.waxzce.twitterbot.regisrobert.TwitterSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterSearchYQL</servlet-name>
        <servlet-class>org.waxzce.twitterbot.regisrobert.TwitterSearchYQL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterPost</servlet-name>
        <servlet-class>org.waxzce.twitterbot.regisrobert.TwitterPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlushDataStore</servlet-name>
        <servlet-class>org.waxzce.twitterbot.regisrobert.FlushDataStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TEST</servlet-name>
        <servlet-class>org.waxzce.twitterbot.regisrobert.TEST</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TwitterSearch</servlet-name>
        <url-pattern>/recache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterPost</servlet-name>
        <url-pattern>/TwitterPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlushDataStore</servlet-name>
        <url-pattern>/FlushDataStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterSearchYQL</servlet-name>
        <url-pattern>/TwitterSearchYQL</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/recache</url-pattern>
            <url-pattern>/TwitterPost</url-pattern>
            <url-pattern>/FlushDataStore</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <servlet-mapping>
        <servlet-name>TEST</servlet-name>
        <url-pattern>/TEST</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
